

.container{
    display: flex;
    margin: 100px 20%;
    width: 100%;

   position: absolute;
}
.nav-top{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width:80px;
}
.nav-down{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 100%;
}
.title i { 
    font-size: 35px;
    color: violet;
}
.title p{
    font-size: 15px;
    color: #609d9f;
}
.title{
    display: flex;
    position: relative;
    content: "";
    top:0;
    left: 100px;
}
.btn-chung{
    margin: 30px 100px;
}
.onhap{
    width: 300px;
    margin-left: 10%;
}
.nav-down .the {
    height: 40px;
    width: 700px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px, rgb(51, 51, 51) 0px 0px 0px 2px;
    border: 15px;
    background-color: #ffe9e8;
    margin-left: 10%;
}
.the1{
    height: 95px;
    width: 700px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px, rgb(51, 51, 51) 0px 0px 0px 2px;
    border: 15px;
    background-color: #ffe9e8;
   
}